
@model  LandingPageModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid header1 header2 minify-header appfamily-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>@Model.Resources["pdfPageMainTitle"] </h1>
				<h2>@Model.Resources["pdfPageSubHeading"]  </h2>
			</div>
			<div class="col-md-4 tc">
				<img class=" col-xs-12" src="../img/aspose_pdf-brand.png" alt="Aspose.PDF" width="320" />
			</div>
			<!--/col6 -->
		</div>
		<!--/row -->
	</div>
	<!--/container -->
</div>
<div class="container-fluid productfamilypage bg-white pdb-5">
	<div class="row">
		<div class="container tc">
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>
			<h3>@string.Format(@Model.Resources["AsposeProductFamilyInclude"], @Model.Resources["AsposePDF"]) </h3>
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>


			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_conversion-app.png" alt="Aspose.PDF for .NET" />
					</div>
					<a href="/pdf/conversion"><span class="spanclass">@Model.Resources["AsposePDF"] @Model.Resources["AsposeProductFor"]<em>@Model.Resources["Conversionh4"]</em></span><em>Online PDF converter that allows to covert PDF to Word, Excel, PowerPoint, HTML and Images.</em></a>
				</div>

			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_splitter-app.png" alt="Aspose.PDF for .NET" />
					</div>
					<a href="pdf/splitter"><span class="spanclass">@Model.Resources["AsposePDF"] @Model.Resources["AsposeProductFor"]<em>Splitter</em></span><em>Split or extract PDF files online, easily and free.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_viewer-app.png" alt="Aspose.PDF for .NET" />
					</div>
					<a href="pdf/viewer"><span class="spanclass">@Model.Resources["AsposePDF"] @Model.Resources["AsposeProductFor"]<em>@Model.Resources["Viewerh4"]</em></span><em>View PDF online from any device.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_search-app.png" alt="Aspose.PDF for .NET" />
					</div>
					<a href="pdf/search"><span class="spanclass">@Model.Resources["AsposePDF"] @Model.Resources["AsposeProductFor"]<em>Search</em></span><em>Search content inside PDF documents based on string or regular expression.</em></a>
				</div>
			</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_merger-app.png" alt="Aspose.PDF for .NET" />
					</div>
					<a href="pdf/merger"><span class="spanclass">@Model.Resources["AsposePDF"] @Model.Resources["AsposeProductFor"]<em>Merger</em></span><em>File merger, combine PDF, JPG, DOC, HTML files into one document online.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_signature-app.png" alt="Aspose.PDF for .NET" />
					</div>
					<a href="pdf/signature"><span class="spanclass">@Model.Resources["AsposePDF"] @Model.Resources["AsposeProductFor"]<em>eSign</em></span><em>Create electronic signature in PDF document online.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_parser-app.png" alt="Aspose.PDF for .NET" />
					</div>
					<a href="pdf/parser"><span class="spanclass">@Model.Resources["AsposePDF"] @Model.Resources["AsposeProductFor"]<em>Extract Text Form PDF</em></span><em>Parse PDF document to extract text and images. Separate PDF as text and images.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_unlock-app.png" alt="Aspose.PDF for .NET" />
					</div>
					<a href="pdf/unlock"><span class="spanclass">@Model.Resources["AsposePDF"] @Model.Resources["AsposeProductFor"]<em>Unlock</em></span><em>PDF password remover help to remove password protection from PDF document? Try this app now for free!.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_assembly-app.png" alt="Aspose.PDF for .NET" />
					</div>
					<a href="pdf/xfa"><span class="spanclass">@Model.Resources["AsposePDF"] @Model.Resources["AsposeProductFor"]<em>PDF XFA to Acroform</em></span><em>Read and convert PDF XFA forms online.</em></a>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="spacer">&nbsp;</div>
